@charset "utf-8";
/* CSS Document */

/* @media only screen and (min-width: 1051px) { */

html {
	scroll-behavior: smooth;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	z-index: 0;
}

body {
	margin-left: 22em;
}

/* Add a black background color to the top navigation */
.topnav {
	z-index: 1;
	background-color: indianred;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 1.5rem 1.5rem;
	text-decoration: none;
	font-size: 2.5rem;
  }
  
  /* Add an active class to highlight the current page */
  .active {
	background-color: indianred;
	color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
	display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
	float: right;
	overflow: hidden;
	z-index: 1;
	margin: 1.5rem 1rem auto 1rem;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
	font-size: 1rem;
	border: none;
	outline: none;
	color: white;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
	right: 0;
	top: 6.5rem;
	display: none;
	background-color: indianred;
	min-width: fit-content;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	position: fixed;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
	z-index: 1;
	float: none;
	color: white;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
	background-color: #555;
	color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #555;
	color: white;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
	.topnav a:not(:first-child), .dropdown .dropbtn {
	  display: none;
	}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: fixed;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {
	  display: block;
	  width: 100%;
	  text-align: left;
	}
  }

/* .navbar-mobile {
	z-index: 1;
	background-color: indianred;
	top: 0;
	height: 4rem;
	position: fixed;
	width: 100%;
	left: 0;
	font-family: futura-pt;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 15px;
} */


.navbar-desktop {
	background-color: indianred;
	top: 0;
	height: 100%;
	position: fixed;
	width: fit-content;
	left: 0;
	max-width: 18em;
	font-family: futura-pt;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 15px;
}

.dropbutton {
	display: none;
}

.dropitems {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 1em;
	height: 100%;
}

.dropitems a {
	color: lightgrey;
	text-decoration: none;
	display: block;
	position: relative;
	width: fit-content;
	font-size: 1.3em;
	padding-top: 0.8em;
	
}

.dropitems a:hover {
	color: white;
}
	
#landon_profile {
	border-radius: 50%;
	border: 8px solid #da7474;
}

.navname {
	display: none;
/*
	color: white;
	font-size: 1.3em;
	font-family: futura-pt;
	font-weight: 400;
*/
/*
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
*/
}

.main {
	margin-top: 18em;
	width: auto;
/*		margin-right: 1.5em;*/
	font-weight: 400;
	margin-right: 3em;
}

.headerinfo {
	font-family: futura-pt;
	padding-left: 1.25em;
	text-transform: uppercase;
	font-weight: 500;
}

.name {
	transform: scaleY(1.2);
	font-size: 2.5em;
	font-weight: bold;
	
}

.first_name {
	display: inline;
	padding-right: .05em;
	font-size: 3.8rem;

}
.last_name {
	color: indianred;
	display: inline;
	padding-left: .05em;
	font-size: 3.8rem;
}

.info {
	transform: scaleY(1.1);
	padding-top: 1.5em;
	display: inline-block;
	font-weight: 500;
	font-size: 1.4em;
	width: fit-content;

}
.email {
	text-decoration: none;
	color: indianred;
	display: block;
	padding-top: 0.15em;
}
.email:hover {
	text-decoration: underline;
	color: firebrick;
}

.summary {
	font-family: futura-pt;
	font-size: 1.25em;
	margin: 2.5em 0em 0em 0.75em;
	padding: 2em;
	width: fit-content;
	height: fit-content;
	box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}
.icons{
	padding-top: 1em;
	width: fit-content;
	height: fit-content;
}

.icons a{
	padding-left: .75em;
	padding-right: 0.5em;
	color: black;
}

.in:hover {
	color: indianred;
}
.insta:hover {
	color: indianred;
}
.web:hover {
	color: indianred;
}
.fb:hover {
	color: indianred;
}

.m-0 {
	margin-top: 15em;
	margin-bottom: 5em;
	filter: opacity(40%);
/*		width: 100%;*/
}

.sectionTitle {
	font-size: 2.5em;
	font-family: futura-pt;
	font-weight: 600;
	text-transform: uppercase;
	transform: scaleY(1.2);
	text-decoration: underline;
	text-decoration-color: indianred;
	width: fit-content;
	height: fit-content;
	margin: 0.2em;
}
.education {
	padding-left: 0.75em;
	font-family: futura-pt;
	width: fit-content;
	height: fit-content;
}

.sectionheader {
	display: block;
	padding: 2em;
	margin-top: 5em;
	height: fit-content;
	box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}
.sectionheader a {
	text-decoration: none;
	color: black;

}

.eduheader {
	font-size: 1.9rem;
	font-weight: bold;
	display: inline-block;
	width: fit-content;
	height: fit-content;
}

.eduheaderinfo {
	display: block;
	font-size: 1.35rem;
	width: fit-content;
	height: fit-content;
}


.date {
	display: block;
	color: indianred;
	/* width: fit-content; */
	height: fit-content;
	font-size: 1.28rem;
}

.moreinfo {
	display: block;
	padding-top: 0.25em;
	width: fit-content;
	height: fit-content;
	font-size: 1.15em;
}

.experience {
	padding-left: 0.75em;
	font-family: futura-pt;
	width: fit-content;
	height: fit-content;
}
.PB a{
	color: indianred;

}
.PB a:Hover {
	color: firebrick;
	text-decoration: underline;
}
.Midtext {
	padding-top: 1em;
	font-weight: bold;
	display: inline-block;
	font-size: 1.35em;
	width: fit-content;
	height: fit-content;
}

.HobbiesExtra {
	padding-left: 0.75em;
	font-family: futura-pt;
	width: fit-content;
	height: fit-content;
}

.csskills {
	padding-left: 0.75em;
	font-family: futura-pt;
	width: fit-content;
	height: fit-content;
}

.icowords {
	display: inline-block;
	width: fit-content;
	height: fit-content;
	margin-left: 0.5rem;
}
li {
	display: inline-block;
	padding-top: 1em;
	padding-left: 1.5em;
	width: fit-content;
	height: fit-content;
}

.projects {
	padding-left: 0.75em;
	font-family: futura-pt;
	width: fit-content;
	height: fit-content;
}
a.rslink {
	color: cornflowerblue;
	text-decoration: underline;
}

.enclosure li {
	display: block;
	padding: 0;
}
.courses {
	padding-left: 0.75em;
	font-family: futura-pt;
	width: fit-content;
	height: fit-content;
}

.communityService {
	padding-left: 0.75em;
	font-family: futura-pt;
	width: fit-content;
	height: fit-content;
}

.awards {
	padding-left: 0.75em;
	font-family: futura-pt;
	width: fit-content;
	height: fit-content;
}

/*}




/*
/* @media only screen and (max-width: 1050px){
	
	html {
		scroll-behavior: smooth;
		font-family: futura-pt, sans-serif;
		font-style: normal;
	}
	
	body {
		height: 100%;
	}

	.navname {
		z-index: 2;
		float: left;
		text-align: center;
		padding: 15px;
		color: white;
		font-size: 1.3em;
		font-family: futura-pt;
		font-weight: 500;

	}
	
	.navbar {
		z-index: 1;
		background-color: indianred;
		top: 0;
		width: 100%;
		position: fixed;
		left: 0;
		display: inline-block;
	}
	
	#landon_profile {
		display: none;
	}
	
	.dropdown {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		display: inline-block;
	}

	
	.dropbutton {
		background-color: indianred;
		border-color: indianred;
		outline-color: indianred;
		color: lightgray;
		float: right;
		text-align: center;
		margin: 10px;
		cursor: pointer;
	}
	
	.dropitems {
		display: none;
		position: absolute;
		background-color: indianred;
		min-width: 100%;
		margin-top: 45px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 2;
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
		font-family: futura-pt;
	}
	
	.dropitems a {
		color: lightgrey;
		text-decoration: none;
		display: block;
		position: relative;
		width: fit-content;
		font-size: 1.3em;
		padding-top: 12px;
		
	}
	
	.dropitems a:hover {
		background-color: indianred;
		color: white;
	}
	
	 .dropdown:hover .dropitems {
		display: block;
	}
	
	.dropdown:hover .dropbutton {
		background-color: lightcoral;
	}

	.main {
		margin-top: 10em;
		width: auto;
		font-weight: 400;
		margin-right: 1em;

	}

	.headerinfo {
		position: relative;
		z-index: 0;
		font-family: futura-pt;
		padding-left: 0.75em;
		text-transform: uppercase;
		font-weight: 500;
	}

	.name {
		transform: scaleY(1.1);
		font-size: 1.8em;
	}

	.first_name {
		display: inline;
		padding-right: .05em;

	}
	.last_name {
		color: indianred;
		display: inline;
		padding-left: .05em;
	}

	.info {
		transform: scaleY(1.1);
		padding-top: 1em;
		display: inline-block;
		font-weight: 500;
		font-size: 1.25em;

	}
	.email {
		text-decoration: none;
		color: indianred;
		display: block;
		padding-top: 0.15em;
	}
	.email:hover {
		text-decoration: underline;
		color: firebrick;
	}

	.summary {
		font-family: futura-pt;
		font-size: 1.15em;
		margin: 1.5em 0em 0em 0.75em;
		padding: 2em;
		width: fit-content;
		height: fit-content;
		box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
		
	}
	.icons{
		padding-top: .75em;
		width: fit-content;
		height: fit-content;
	}

	.icons a{
		padding-left: .75em;
		padding-right: 0.5em;
		color: black;
	}

	.in:hover {
		color: indianred;
	}
	.insta:hover {
		color: indianred;
	}
	.web:hover {
		color: indianred;
	}
	.fb:hover {
		color: indianred;
	}

	.m-0 {
		margin-top: 5em;
		margin-bottom: 5em;
		filter: opacity(40%);
		z-index: -1;
		position: relative;
	}

	.sectionTitle {
		z-index: -1;
		position: relative;
		font-size: 37px;
		font-family: futura-pt;
		font-weight: 600;
		text-transform: uppercase;
		transform: scaleY(1.1);
		text-decoration: underline;
		text-decoration-color: indianred;
		width: fit-content;
		height: fit-content;
		margin-left: 0.2em;
	}
	.education {
		padding-left: 0.75em;
		font-family: futura-pt;
		width: fit-content;
		height: fit-content;
	}

	.sectionheader {
		display: block;
		margin-top: 3em;
		padding: 2em;
		width: fit-content;
		height: fit-content;
		box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
	}
	.sectionheader a {
		text-decoration: none;
		color: black;

	}

	.eduheader {
		font-size: 1.8rem;
		font-weight: bold;
		display: inline-block;
		width: fit-content;
		height: fit-content;
	}

	.eduheaderinfo {
		display: block;
		font-size: 1.4rem;
		width: fit-content;
		height: fit-content;
	}

	.date {
		display: block;
		color: indianred;
		width: fit-content;
		height: fit-content;
		font-size: 1.25rem;
	}

	.moreinfo {
		display: block;
		padding-top: 0.25em;
		width: fit-content;
		height: fit-content;
		font-size: 1.15em;
	}

	.experience {
		padding-left: 0.75em;
		font-family: futura-pt;
		width: fit-content;
		height: fit-content;
	}
	.PB a{
		color: indianred;
	
	}
	.PB a:Hover {
		color: firebrick;
		text-decoration: underline;
	}
	.Midtext {
		padding-top: 1em;
		font-weight: bold;
		display: inline-block;
		font-size: 1.4em;
		width: fit-content;
		height: fit-content;
	}

	.HobbiesExtra {
		padding-left: 0.75em;
		font-family: futura-pt;
		width: fit-content;
		height: fit-content;
	}

	.csskills {
		padding-left: 0.75em;
		font-family: futura-pt;
		width: fit-content;
		height: fit-content;
	}

	.icowords {
		display: inline-block;
		width: fit-content;
		height: fit-content;
		margin-left: 0.5rem;
	}
	li {
		display: inline-block;
		padding-top: 1em;
		padding-left: 1.5em;
		width: fit-content;
		height: fit-content;
	}

	.projects {
		padding-left: 0.75em;
		font-family: futura-pt;
		width: fit-content;
		height: fit-content;
	}
	a.rslink {
		color: cornflowerblue;
		text-decoration: underline;
	}
	.enclosure li {
		display: block;
		padding: 0;
	}

	.courses {
		padding-left: 0.75em;
		font-family: futura-pt;
		width: fit-content;
		height: fit-content;
	}

	.communityService {
		padding-left: 0.75em;
		font-family: futura-pt;
		width: fit-content;
		height: fit-content;
	}

	.awards {
		padding-left: 0.75em;
		font-family: futura-pt;
		width: fit-content;
		height: fit-content;
	}
} */
